.item-image {
  background: #000;
}
 
.item-image img:first-child, .item-image .list-img {
  width: 200px;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.float-clear {
    clear:both;
}

/* progress bar for chrome */
progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: #3498DB;
    border-radius: 3px;
    background-image:
        -webkit-linear-gradient(-45deg, 
                           transparent 20%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25));
}

/* progress bar for firefox */
progress {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border:none;
}

progress::-moz-progress-bar {
    background-color: #3498DB;
      background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    );
}

.progress-bar-value {
    position: relative;
    bottom: -2.8em;
    color: white;
    margin-left: 50%;
}