<ion-header-bar class="bar bar-header bar-stable">
  <a class="button icon-left ion-chevron-left button-clear" ui-sref="search"></a>
  <h1 class="title">Restaurant Details</h1>
</ion-header-bar>
<ion-content>
  <div class="list card">

    <div class="item item-avatar">
      <img src="http://files.softicons.com/download/object-icons/movies-icons-by-pinchodesigns/png/32x32/movie.png">
      <h2>{{store.name}}</h2>
      <p>{{store.location}}</p>
      <h5 class="progress-bar-value" style="margin-left:20px;">{{store.occupancy_percent}}% full</h5>
      <progress value="{{store.occupancy_percent}}" max="100"></progress>
    </div>

    <div class="item item-image">
      <img ng-src="{{store.img}}" width="200px" />
    </div>

  </div>
</ion-content>