<ion-header-bar class="bar bar-positive bar-header item-input-inset">
  <i class="icon ion-funnel placeholder-icon icon-large icon-color" ng-click="openModal()"></i>
  <span>&nbsp;&nbsp;</span>
  <div class="item-input-wrapper">
    <i id="nav-icon" class="icon placeholder-icon ion-navigate icon-large" ng-click="currentLocation()"></i>
    <input name="autocomplete-search" placeholder="Enter a street address" type="search" g-places-autocomplete ng-model="store.name" />
    <i class="icon ion-ios-search placeholder-icon icon-large" ng-click="searchStoreDb()"></i>
    <span>&nbsp;</span>
  </div>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <i class="icon ion-close-round placeholder-icon icon-large icon-color" ng-click="clearSearchBox()"></i>
  <span>&nbsp;&nbsp;</span>
</ion-header-bar>

<ion-content ion-sticky>
  <ion-refresher pulling-text="Refreshing" on-refresh="doRefresh()"></ion-refresher>
  <ion-list>
    <div class="list">
      <div class="item item-divider positive-lighter" ng-if="nearbyPopularSearch">
        <h4 class="positive-text">Showing nearby popular restaurants</h4>
      </div>
      <a ng-repeat="store in stores" href="#/store/{{store.id}}" class="item item-thumbnail-left">
        <img ng-src="{{store.image_url}}" onerror="this.src = 'https://www.ginesisnatural.com/images/no_image.jpg';">
        <h2>{{store.name}}</h2>
        <h4>{{store.street_address}}</h4>
        <h4>Rating: {{store.rating}}</h4>
        <h5 class="progress-bar-value" style="margin-left:20px;">{{store.occupancy}}% full</h5>
        <progress value="{{store.occupancy}}" max="100"></progress>
      </a>
    </div>
  </ion-list>
</ion-content>